.container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
}

.linked-list {
	display: flex;
	flex-direction: column;
}

.list-item {
	transition: opacity 0.3s, transform 0.3s;
}

.list-item-enter {
	opacity: 0;
	transform: translateX(-100%);
}

.list-item-enter-active {
	opacity: 1;
	transform: translateX(0%);
}

.list-item-exit {
	opacity: 1;
	transform: translateX(0%);
}

.list-item-exit-active {
	opacity: 0;
	transform: translateX(100%);
}

/* Stacked List*/
.stacked-list-algo-body {
	position: relative;
	align-items: center;
	justify-content: center;
	border-style: dotted;
	border-color: red;
	margin: auto;
}


.notice-container {
	height: 20px;
}

.stacked-container {
	position: relative;
	background-color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 400px;
	width: 600px;
	margin: auto;


}

.stacked-line {
	background-color: black;
	width: 25px;
	height: 10px;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;


}

.stacked-circle {
	border-radius: 50%;
	background-color: #282c34;
	text-align: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin: 0 1px;
	margin-top: auto;
	margin-bottom: auto;

}


/* Queue */

.queue-visualizer {
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
	border-style: dotted;
	border-color: red;
	margin: auto;
	width: 650px;
}

.queue-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

queue-controls input[type="text"] {
	margin-right: 1rem;
	padding: 0.5rem;
	font-size: 1rem;
}

.queue-container {
	height: 200px;
	background-color: white;
}

.queue {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1rem;

}

.queue-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1rem;
}

.queue-item-box {
	background-color: #e3e3e3;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.queue-item-index {
	margin-top: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
}

.queue-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.5rem;
}

.queue-header-item {
	margin-right: 0.5rem;
	font-size: 1.2rem;
	font-weight: bold;
}

/* Sorting*/
.array-container {
	display: inline-block;
	height: 500px;
	background-color: #282c34;
	position: absolute;
	right: 50vh;
	padding: 20px;
	/* top: 100px; */
}

.controls-container {
	position: relative;
	display: inline-block;

}

.array-bar {
	flex: 1;
	margin: 0 1px;

}

.array-input {
	width: 315px;
}

.bar-container {
	align-items: flex-end;
	display: flex;
	height: 300px;
	width: 660px;
	padding: 2px;
	background-color: white;
}

/* Binary Search */

.BSA-body {
	position: relative;
	align-items: center;
	justify-content: center;
	border-style: dotted;
	border-color: red;
	margin: auto;

}

.BSA-array-container {
	display: flex;
	align-items: center;
	background-color: white;
	height: 200px;
	width: 550px;
}

.BSA-array {
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	flex: 1;
	margin: 0 1px;

}

.BSA-array-index {
	display: flex;
	justify-content: center;
	align-items: center;
}

.LSA-body {
	position: relative;
	align-items: center;
	justify-content: center;
	border-style: dotted;
	border-color: red;
	margin: auto;

}

.LSA-array-container {
	display: flex;
	align-items: center;
	background-color: white;
	height: 200px;
	width: 500px;
}

.LSA-array {
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 2px;
	flex: 1;
	margin: 0 1px;

}

.LSA-array-index {
	display: flex;
	justify-content: center;
	align-items: center;
}

.LSA-pseudocode {
	font-size: 18px;
	margin: 20px 0;
	text-align: left;
}

.LSA-current-line {
	background-color: #FFFF99;
	font-weight: bold;
}